<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GeoQuery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>888DE7851C24A8890071BC23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>888DE79C1C24A8890071BC23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>888DE7A71C24A8890071BC23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
